.container-buttons-category {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.container-buttons-category button {
  background-color: rgb(226, 228, 226);
  border-radius: 5px;
  box-shadow: 2px 5px 10px rgb(75, 72, 72);
  font-family: Raleway , sans-serif;
  font-size: 13px;
  margin-bottom: 20px;
  margin-right: 10px;
  padding: 6px;
  width: 140px;
}
