.main-container {
  background-color: rgb(235, 238, 235);
}

.container-drinks {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 15px;
  padding: 20px;
  border-radius: 50% 20%;
  background-color: rgb(207, 251, 207);
}

.container-drinks h3 {
  width: 150px;
  font-size: 20px;
}

.link-drinks {
  color: black;
  font-family: 'Raleway', sans-serif;
}

.image-drinks {
  border-radius: 30px;
}
