.details-image-foods {
  width: 100%;
  height: 350px;
}

.container-title-foods {
  display: flex;
  align-items: center;
}

.details-name-foods {
  margin-right: 80px;
  margin-left: 25px;
  margin-top: 10px;
  color: black;
  font-family: Raleway , sans-serif;
}

.icons {
  width: 50px;
  height: 50px;
  border: none;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.details-optional-foods {
  color: rgb(179, 172, 172);
  margin-left: 25px;
  font-size: 20px;
}

.ingredients-instructions-foods{
  background-color: rgb(245, 112, 112);
  border-radius: 20px;
  margin: 15px;
  padding: 20px;
  color: black;
  font-family: Raleway , sans-serif;
  font-weight: 400;
  text-align: justify;
  font-size: 18px;
}

.titles {
  font-size: 30px;
  margin-left: 25px;
  margin-top: 20px;
  color: black;
  font-family: Raleway , sans-serif;
}

.video {
  margin-left: 20px;
}
