.query-container-inputs {
  background-color: rgb(207, 251, 207);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.query-container input {
  border: none;
  border-radius: 5px;
  height: 40px;
  margin-top: 10px;
  padding: 10px;
  width: 300px;
}

.container-radio {
  align-items: center;
  display: flex;
  margin: 10px;
}

.container-radio label {
  font-family: Raleway , sans-serif;
  font-size: 17px;
  margin-right: 9px;
}

.container-radio input {
  float: left;
  margin-right: 10px;
  margin-top: 6px;
}

.button-entry {
  background-color: rgb(226, 228, 226);
  border-radius: 5px;
  box-shadow: 2px 5px 5px rgb(75, 72, 72);
  font-family: Raleway , sans-serif;
  margin-bottom: 20px;
  padding: 8px;
  width: 170px;
}
