.title {
  font-family: Raleway , sans-serif;
  font-size: 25px;
  font-weight: 500;
  margin-top: 10px;
}

.container-button .search-button {
  background-color: rgb(204, 203, 203);
  border: none;
  padding: 5px;
}
