.login-body {
  background-color: rgb(240, 71, 71);
  height: 100vh;
}

.container-login {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-image {
  margin: 50px 0;
}

.login-inputs {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  display: inline-block;
  margin: 8px 0;
  margin-bottom: 20px;
  padding: 12px 20px;
  width: 100%;
}

.login_btn {
  align-items: center;
  border-radius: 5px;
  color: black;
  display: flex;
  height: 30px;
  justify-content: center;
  width: 100px;
}
