.risk {
  text-decoration: line-through;
}

/* @media screen and ( min-width : 360px ) and ( min-height : 640px ) {
} */

body {
  background-color: lightgreen;
  height: 1034px;
  left: 20px;
  position: relative;
  width: 360px;
}

/* #recipe-photo {
  width: 201px;
} */

/* input[type=checkbox] {
  width: 50px;
  height: 30px;
} */
