.container-main-perfil {
  min-height: 100vh;
  background-color: rgb(207, 251, 207);
}

.container-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 80vh;
  padding: 40px;
}

span {
  display: flex;
  font-size: x-large;
  justify-content: center;
  margin-bottom: 50px;
}

button {
  padding: 20px;
  text-align: center;
}
