body {
  background-color: #541554;
}

@media screen and ( max-width : 360px ) and ( max-height : 640px ) {

  body {
    background-color: lightgreen;
  }
}


.footer-fixed {
  background-color: rgb(146, 146, 146);
  border-top: 1px solid #333;
  bottom: 0;
  display: flex;
  height: 40px;
  justify-content: space-around;
  left: 0;
  position: fixed;
  width: 100%;
}
