body {
  background-color: #a80b0b;
  margin: 0;
}

@media screen and ( max-width : 360px ) and ( max-height : 640px ) {

  body {
    background-color: lightgreen;
  }
}

.footer-fixed {
  background-color: rgb(204, 203, 203);
  border-top: 1px solid #333;
  bottom: 0;
  display: flex;
  height: 60px;
  justify-content: space-around;
  left: 0;
  position: fixed;
  width: 100%;
}
