body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  background-color: rgb(146, 146, 146);
}

.top-header {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.category-buttons {
  align-items: flex-end;
  display: flex;
  justify-content: center;
  width: 100%;
}

button:hover {
  background-color: aliceblue;
}

.btn-style {
  background-color: rgb(159, 182, 182);
  bottom: 0;
  left: 0%;
  padding: 20px;
  position: fixed;
  width: 150px;
}
.risk {
  text-decoration: line-through;
}

.category-buttons {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  max-width: 360px;
}

.category-button {
  font-size: smaller;
  max-width: inherit;
}